.header {
    display: flex;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
}
.trybewarts-login {
    display: flex;
}

#evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
}

main {
    display: flex;
}

#trybewarts-forms-logo {
    height: 500px;
}

.nomeCompleto {
    display: flex;
}

.email-house {
    display: flex;
}

#input-family {
    display: flex;
    flex-direction: column;
}

#input-content {
    display: flex;
    flex-direction: column;
}